name: Deploy Application to EKS

on:
  #push:
   branches: [ "main" ] 
  workflow_dispatch:   # manual trigger also
  

jobs:
  deploy-app:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install kubectl
      run: |
        curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
        chmod +x kubectl
        sudo mv kubectl /usr/local/bin/
        kubectl version --client

    - name: Update kubeconfig
      run: |
        aws eks update-kubeconfig --region $AWS_REGION --name demo-cluster

    - name: Deploy application
      run: |
        kubectl apply -f k8s-yaml/deployment.yaml
        kubectl apply -f k8s-yaml/service.yaml

    - name: Verify service
      run: |
        kubectl get svc demo-app-service
